# 复制本文件为 local.properties 并把路径改成你电脑上 Android SDK 的位置
# Example (Linux/Mac): sdk.dir=/home/you/Android/Sdk
# Example (Windows):   sdk.dir=C\:\\Users\\you\\AppData\\Local\\Android\\Sdk
sdk.dir=/root/Android/Sdk
